#ignore file

#master scripts
*.mScript

# gst html files
exampleReport/
offline/

# notebook checkpoints
.ipynb_checkpoints/

test_gst_dir/

*.pyc

klab_python_lib_Yb/klib/__pycache__/

gigamoog/Sr_example_exp/data_23.h5

gigamoog/Sr_example_exp/data_6.h5

gigamoog/Sr_example_exp/ex_Sr.ipynb

klab_python_lib_Yb.zip

QubitDecoherence/.DS_Store

QubitDecoherence/data/220915UVwaveforms/302int/302int_01.csv

QubitDecoherence/data/220915UVwaveforms/302int/302int_02.csv

QubitDecoherence/data/220915UVwaveforms/302int/302int_03.csv

QubitDecoherence/data/220915UVwaveforms/302int/302int_04.csv

QubitDecoherence/data/220915UVwaveforms/302int/302int_05.csv

QubitDecoherence/data/220915UVwaveforms/302int/302int_06.csv

QubitDecoherence/data/220915UVwaveforms/302int/302int_07.csv

QubitDecoherence/data/220915UVwaveforms/302int/302int_08.csv

QubitDecoherence/data/220915UVwaveforms/302int/302int_09.csv

QubitDecoherence/data/220915UVwaveforms/302int/302int_10.csv

QubitDecoherence/data/220915UVwaveforms/302int/302int_11.csv

QubitDecoherence/data/220915UVwaveforms/302int/302int_12.csv

QubitDecoherence/data/220915UVwaveforms/302int/302int_13.csv

QubitDecoherence/data/220915UVwaveforms/302int/302int_14.csv

QubitDecoherence/data/220915UVwaveforms/302int/302int_15.csv

QubitDecoherence/data/220915UVwaveforms/302int/302int_16.csv

QubitDecoherence/data/220915UVwaveforms/302int/302int_17.csv

QubitDecoherence/data/220915UVwaveforms/302int/302int_18.csv

QubitDecoherence/data/220915UVwaveforms/302int/302int_19.csv

QubitDecoherence/data/220915UVwaveforms/302int/302int_20.csv

QubitDecoherence/data/220915UVwaveforms/302int/302int_21.csv

QubitDecoherence/data/220915UVwaveforms/302int/302int_22.csv

QubitDecoherence/data/220915UVwaveforms/302int/302int_23.csv

QubitDecoherence/data/220915UVwaveforms/302int/302int_24.csv

QubitDecoherence/data/220915UVwaveforms/302inttime/302inttime_01.csv

QubitDecoherence/data/220915UVwaveforms/302inttime/302inttime_02.csv

QubitDecoherence/data/220915UVwaveforms/302inttime/302inttime_03.csv

QubitDecoherence/data/220915UVwaveforms/302inttime/302inttime_04.csv

QubitDecoherence/data/220915UVwaveforms/302inttime/302inttime_05.csv

QubitDecoherence/data/220915UVwaveforms/302inttime/302inttime_06.csv

QubitDecoherence/data/220915UVwaveforms/302inttime/302inttime_07.csv

QubitDecoherence/data/220915UVwaveforms/302inttime/302inttime_08.csv

QubitDecoherence/data/220915UVwaveforms/302inttime/302inttime_09.csv

QubitDecoherence/data/220915UVwaveforms/302inttime/302inttime_10.csv

QubitDecoherence/data/220915UVwaveforms/302inttime/302inttime_11.csv

QubitDecoherence/data/220915UVwaveforms/302inttime/302inttime_12.csv

QubitDecoherence/data/220915UVwaveforms/302inttime/302inttime_13.csv

QubitDecoherence/data/220915UVwaveforms/302inttime/302inttime_14.csv

QubitDecoherence/data/220915UVwaveforms/302inttime/302inttime_15.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_01.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_02.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_03.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_04.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_05.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_06.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_07.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_08.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_09.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_10.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_11.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_12.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_13.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_14.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_15.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_16.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_17.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_18.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_19.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_20.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_21.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_22.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_23.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_24.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_25.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_26.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_27.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_28.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_29.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_30.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_31.csv

QubitDecoherence/data/220915UVwaveforms/302intzoom/302intzoom_32.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_01.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_02.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_03.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_04.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_05.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_06.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_07.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_08.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_09.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_10.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_11.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_12.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_13.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_14.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_15.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_16.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_17.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_18.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_19.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_20.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_21.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_22.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_23.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_24.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_25.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_26.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_27.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_28.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_29.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_30.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_31.csv

QubitDecoherence/data/220915UVwaveforms/604pdh/604pdh_32.csv

QubitDecoherence/data/220915UVwaveforms/604pdhtime/604pdhtime_01.csv

QubitDecoherence/data/220915UVwaveforms/604pdhtime/604pdhtime_02.csv

QubitDecoherence/data/220915UVwaveforms/604pdhtime/604pdhtime_03.csv

QubitDecoherence/data/220915UVwaveforms/604pdhtime/604pdhtime_04.csv

QubitDecoherence/data/220915UVwaveforms/604pdhtime/604pdhtime_05.csv

QubitDecoherence/data/220915UVwaveforms/604pdhtime/604pdhtime_06.csv

QubitDecoherence/data/220915UVwaveforms/604pdhtime/604pdhtime_07.csv

QubitDecoherence/data/220915UVwaveforms/604pdhtime/604pdhtime_08.csv

QubitDecoherence/data/220915UVwaveforms/604pdhtime/604pdhtime_09.csv

QubitDecoherence/data/220915UVwaveforms/604pdhtime/604pdhtime_10.csv

QubitDecoherence/data/220915UVwaveforms/604pdhtime/604pdhtime_11.csv

QubitDecoherence/data/220915UVwaveforms/604pdhtime/604pdhtime_12.csv

QubitDecoherence/data/220915UVwaveforms/604pdhtime/604pdhtime_13.csv

QubitDecoherence/data/220915UVwaveforms/604pdhtime/604pdhtime_14.csv

QubitDecoherence/data/220915UVwaveforms/604pdhtime/604pdhtime_15.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom.psdata

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_01.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_02.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_03.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_04.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_05.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_06.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_07.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_08.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_09.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_10.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_11.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_12.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_13.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_14.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_15.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_16.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_17.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_18.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_19.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_20.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_21.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_22.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_23.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_24.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_25.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_26.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_27.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_28.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_29.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_30.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_31.csv

QubitDecoherence/data/220915UVwaveforms/604pdhzoom/604pdhzoom_32.csv

QubitDecoherence/data/Browaeys_rabi.csv

QubitDecoherence/data/clock_698_phaseNoise.csv

QubitDecoherence/data/FiberLaserRIN.csv

QubitDecoherence/data/Kale_rabi.csv

QubitDecoherence/data/Kale_RIN.csv

QubitDecoherence/data/Kale.csv

QubitDecoherence/data/PhaseNoiseBrowaeysBlue.csv

QubitDecoherence/data/PhaseNoiseBrowaeysRed.csv

QubitDecoherence/data/PhaseNoiseRFA.csv

QubitDecoherence/data/RIN.csv

QubitDecoherence/data/RIN1278nm50W.csv

QubitDecoherence/data/RIN698.csv

QubitDecoherence/data/RINbenbloom.csv

QubitDecoherence/data/RINbenbloomDC.csv

QubitDecoherence/data/RINmpb.csv

QubitDecoherence/data/RINnewpump.csv

QubitDecoherence/data/RINNKT.csv

QubitDecoherence/data/RINprecilaser.csv

QubitDecoherence/data/RINSr.csv

QubitDecoherence/data/RINWang2020.csv

QubitDecoherence/data/RINWang2020supress.csv

QubitDecoherence/QubitDecoherence_220914.ipynb
